@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: #ff9d00;
    --primary-color-darker: #aa6a02;
    --sombrinha: rgba(48, 43, 43, 0.75);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    text-align: center;
    max-width: 640px;
    height: 100%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px var(--sombrinha);
}

.header h2 {
    text-align: center;
}

