* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    block-size: border-box;
}

body {
    background: #fff;
}

.bloco {
    width: 30%;
    min-width: 470px;
    background: #fff;
    color: #111;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3.38rem 3.44rem, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pesquisa input { 
    border: 0;
    outline: 0;
    background: #fff;
    color: #111;
    padding: 10px 25px;
    height: 40px;
    border-radius: 15px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3.38rem 3.44rem, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.pesquisa button {
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.12) 0px -3px 5px;
}

.pesquisa button img {
    width: 32px;
}

.invalido p {
    margin-top: 30px;
    color: red;
    display: none;
}
.imagem-clima {
    width: 170px;
    margin-top: 30px;
}
.clima {
    display: none;
}
.clima h1 {
    font-size: 80px;
    font-weight: 500;
}

.clima h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.detalhes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.coluna {
    display: flex;
    align-items: center;
    text-align: left;
}

.coluna img {
    width: 40px;
    margin-right: 10px;
}

.humidade, .vento {
    font-size: 25px;
    margin-top: -6px;
}